<ion-view view-title="" hide-back-button="true">
	<ion-content class="home" scroll="false">
	
		<div class="home-header">
			<!--Before login-->
			<div ng-if="!RCA.isLoggedIn" class="home-header-logged-out">
				<button class="button button-dark-bg" ui-sref="RCA.login" r="logIn"></button>
			</div>

			<!--After login-->
			<div ng-if="RCA.isLoggedIn"  class="home-header-logged-in">
				<div class="userimage">
					<img ng-src="css\images\avatars\{{home.user.avatar}}.png" alt="">
				</div>
				<div class="username">
					<h1 ng-bind="home.user.userName"></h1>
				</div>				
			</div>
		</div>

		<div class="home-items">
			<div ng-if="!RCA.isLoggedIn">
				<p>Du er ikke logget inn ennå. Dette kan du gjøre med 
				<b>brukernavn:</b> <i>FrederikBruker</i> og 
				<b>passord:</b><i>Bruker</i></p>
			</div>
	
			<div ng-if="RCA.isLoggedIn">
				<p>Legg gjerne til en knapp for å gå til registreringer</p>
			</div>
			

		</div>	
	</ion-content>
</ion-view>
