<ion-view>
	<ion-content>
	<header class="content-wrap pure-text first">
		<h1 r="aboutGuidelinesTitle">
		</h1>
	</header>
	<section class="content-wrap pure-text">
		<p  r="aboutGuidelinesPart1"></p>
		<p  r="aboutGuidelinesPart2"></p>		
		<p  r="aboutGuidelinesPart3"></p>		
		<p  r="aboutGuidelinesPart4"></p>		
		<p >
			<a href='http://www.lovdata.no/cgi-wift/wiftldles?doc=/usr/www/lovdata/all/nl-19610512-002.html&dep=alle&emne=%c5ndsverk&' target='_blank' r="aboutGuidelinesLink"></a> <span r="aboutGuidelinesPart5">
		</p>		
		<p  r="aboutGuidelinesPart6"></p>		
	</section>

	</ion-content>
</ion-view>