//Large screen
@media only screen and (min-width : 680px) {
	.modal{
		top: 0;
    	right: 0;
		bottom: 0;
	    left: 0;
	    min-height: 100%;
	    width: 100%;  
	}
}

/* IOS specific options, TODO check on android tablet 
		https://github.com/driftyco/ionic/issues/2217
*/
@media (min-width: 680px) {
  .modal {
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header,
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px;
  }
}