.popup-container.popup-showing.active {
	.popup {
	    display: -webkit-flex;
	    -webkit-align-items: center;
	    -webkit-flex-direction: column;
	    -webkit-justify-content: center;		
		padding: 2rem;
		width: 80%;
		height: 80%;
		.popup-buttons {
		    -webkit-align-items: center;
		    -webkit-flex-direction: column-reverse;
		    -webkit-justify-content: center;			
			width: 100%;
			.button {
				@include button;
				margin-bottom: 1rem;
				width: 100%;
			    &.secondary {
					@include button-secondary;
			    }					
			}		
		}
	}
}


//Large screen
@media only screen and (min-width : 768px) {
	.popup-container.popup-showing.active {
		.popup {
			width: 50%;
			height: 50%;
			.popup-buttons {
			    -webkit-flex-direction: row;
			    -webkit-justify-content: center;			
			}			
		}
	}	
}
